{{!
    Copyright (c) Skin Cancer College Australasia.
    All rights reserved.

    This file is part of a proprietary plugin developed by Skin Cancer
    College Australasia for use with Moodle. It is NOT free software and is
    NOT released under the GNU General Public License.

    Unauthorised copying, distribution, modification, or use of this file,
    in whole or in part, via any medium, is strictly prohibited without the
    prior written permission of Skin Cancer College Australasia. The software
    is provided "as is", without warranty of any kind, express or implied.
}}
{{!
    @template mod_casestudy/management_interface

    Management interface for Case Study activity

    Context variables required for this template:
    * hasfields - Boolean, whether fields exist
    * cmid - Course module ID
    * managementbuttons - Array of button objects with url, label, class

    Example context (json):
    {
        "hasfields": true,
        "cmid": 123,
        "managementbuttons": [
            {
                "url": "fields.php?id=123",
                "label": "Manage fields",
                "class": "btn btn-secondary"
            }
        ]
    }
}}

<div class="casestudy-management">
    <h3>{{#str}}management, mod_casestudy{{/str}}</h3>

    <div class="btn-group" role="group">
        {{#managementbuttons}}
        <a href="{{{url}}}" class="{{{class}}}">{{label}}</a>
        {{/managementbuttons}}
    </div>
</div>