{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_casestudy/management_interface

    Management interface for Case Study activity

    Context variables required for this template:
    * hasfields - Boolean, whether fields exist
    * cmid - Course module ID
    * managementbuttons - Array of button objects with url, label, class

    Example context (json):
    {
        "hasfields": true,
        "cmid": 123,
        "managementbuttons": [
            {
                "url": "fields.php?id=123",
                "label": "Manage fields",
                "class": "btn btn-secondary"
            }
        ]
    }
}}

<div class="casestudy-management">
    <h3>{{#str}}management, mod_casestudy{{/str}}</h3>

    <div class="btn-group" role="group">
        {{#managementbuttons}}
        <a href="{{{url}}}" class="{{{class}}}">{{label}}</a>
        {{/managementbuttons}}
    </div>
</div>