{{!
    Copyright (c) Skin Cancer College Australasia.
    All rights reserved.

    This file is part of a proprietary plugin developed by Skin Cancer
    College Australasia for use with Moodle. It is NOT free software and is
    NOT released under the GNU General Public License.

    Unauthorised copying, distribution, modification, or use of this file,
    in whole or in part, via any medium, is strictly prohibited without the
    prior written permission of Skin Cancer College Australasia. The software
    is provided "as is", without warranty of any kind, express or implied.
}}
{{!
    @template mod_casestudy/view_only_interface

    View only interface for Case Study activity (for users with limited permissions)

    No context variables required for this template.

    View-only interface for users with limited permissions.

    Example context (json):
    {}
}}

<div class="alert alert-info">
    {{#str}}viewonly, mod_casestudy{{/str}}
</div>